.mainblock{
    width: auto;
    margin: 10px;
    margin-top: 20px;

    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;

    background: whitesmoke;

    border: 1px solid lightslategray;
    border-radius: 10px;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;

    width: auto;
    margin: 10px;
}

.footercontent{
    display: inline-block;
    text-align: center;

    width: 100%;

    padding: 0;
    margin-bottom: 10px;

    color: white;
    background: darkslategray;

    border: 1px solid darkslategray;
    border-radius: 10px;
}

.inner-footer{
    background: tomato;
    border: 1px solid tomato;
}

.inner-footercontent{
    margin: 10px;
}

.white-font{
    color: white;
}

a{
    text-decoration: none;
}

a:visited{
    color: wheat;
}

strong{
    font-weight: bold;
    font-size: 42pt;
}

@media only screen and (max-width: 600px){
    .footer{
        display: inline-block;
        width: auto;
        margin: 10px;
    }
}