h1{
  color: #fdac00;
  
  font-size: 16pt;
  font-weight: bold;
}

.supmargin{
  margin-top: 10px;
}

.blacklistarea{
  min-height: 100px;
  width: 100%;

  overflow: scroll;

  border: 0.5px solid #EAEAE8;
}

.button{
  background: #D2D2D0;

  border: 0.5px solid #D2D2D0;
  border-style: outset;
  border-radius: 3px;

  margin-top: 10px;
  margin-right: 5px;

  padding-top: 4px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 4px;

  text-shadow:none;
}

.button:hover{
  background-color: #EAEAE8;
  border-color: #EAEAE8;
}
